/* Fonts */

@font-face {
    font-family: 'Raleway';
    src: url(/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}



/* Custom bootstrap-like css */

.p-6 {
    padding: 4rem !important;
}

.px-6 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.py-6 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.pt-6 {
    padding-top: 4rem !important;
}

.pb-6 {
    padding-bottom: 4rem !important;
}

.pl-6 {
    padding-left: 4rem !important;
}

.pr-6 {
    padding-right: 4rem !important;
}

@media screen and (min-width: 992px) {
    .p-lg-6 {
        padding: 4rem !important;
    }

    .px-lg-6 {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }

    .py-lg-6 {
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }

    .pt-lg-6 {
        padding-top: 4rem !important;
    }

    .pb-lg-6 {
        padding-bottom: 4rem !important;
    }

    .pl-lg-6 {
        padding-left: 4rem !important;
    }

    .pr-lg-6 {
        padding-right: 4rem !important;
    }
}

.mb-6 {
    margin-bottom: 4.5rem;
}

.text-extra-thin {
    font-variation-settings: 'wght' 200;
}

.text-thin {
    font-variation-settings: 'wght' 300;
}

.text-normal {
    font-variation-settings: 'wght' 400;
}

.text-semi-bold {
    font-variation-settings: 'wght' 550;
}

.text-bold {
    font-variation-settings: 'wght' 700;
}

.text-bolder {
    font-weight: bolder;
}

.gap-1 {
    gap: 3px;
}

.gap-2 {
    gap: 6px;
}

.gap-3 {
    gap: 9px;
}

.gap-4 {
    gap: 12px;
}

.gap-5 {
    gap: 15px;
}

/* Components */

*:not(.form-control) {
    user-select: none;
}

.login-form,
.register-form {
    max-width: 500px;
    width: 100%;
}

.popup-alerts {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    padding: 25px;
}

.heading-center {
    text-transform: uppercase;
    text-align: center;
}

.work-img-00000 {
    flex-grow: 1;
    object-fit: cover;
}

.work-00000+.work-00000 {
    margin-top: 10rem;
}

.work-video-00000 {
    width: 100%;
    height: auto;
}

.bnr-video-wrapper {
    width: 100%;
    overflow: hidden;
    display: grid;
    place-content: center;
}

.bnr-video {
    background: black;
    height: max(100vh, 100vw);
}

.stuff-image-00000 {
    object-fit: cover;
    max-width: 260px;
    max-height: 260px;
}

.stuff-preview-bg {
    height: 400px;
    background-color: #ff707e;
}

.stuff-card-preview-bg {
    width: 260px;
    height: 260px;
    background-color: #ff707e;
}

.video-header-00000 {
    position: relative;
}

.video-header-item-00000 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #000;
}

.video-header-item-00000 > video {
    opacity: .5;
}

.stuff-avatar {
    width: 100%;
}

.stuff-full-name {
    font-variation-settings: 'wght' 525;
}

.stuff-position {
    font-variation-settings: 'wght' 550;
}

.heading-font {
    font-variation-settings: 'wght' 550;
}

/* Overrides */
.btn,
.form-control {
    font-variation-settings: 'wght' 300;
}

.form-control.border {
    border: 1px solid #dee2e6 !important;
}

input.form-control:not(:placeholder-shown), select {
    font-weight: 600 !important;
}

.service-29193 {
    height: 100%;
}

.site-logo {
    padding-bottom: 5px;
}

.site-logo,
p, span,
.testimonial-1 > p,
button {
    font-variation-settings: 'wght' 500;
}

input, textarea, select, .form-control {
    font-variation-settings: 'wght' 525;
}

input:placeholder-shown, textarea:placeholder-shown, select:placeholder-shown, .form-control:placeholder-shown {
    font-size: 14px;
}

.heading-39291 {
    font-variation-settings: 'wght' 750;
}

h6 {
    font-variation-settings: 'wght' 550;
}

:not(h1),
:not(h2),
:not(h3),
:not(h4),
:not(h5),
:not(h6),
:not(.h1),
:not(.h2),
:not(.h3),
:not(.h4),
:not(.h5),
:not(.h6) {
    letter-spacing: .4px;
}
